{% extends 'base_project.html' %}
{% load markdown %}

{% block project_content %}

<h2>{{discussion.discussion_name}}</h2>

<h3>Comments</h3>
<ul>
  {% for comment in discussion.comment_set.all %}
  <li>
    <a href="{% url 'profile' comment.user.username %}">
      {% if comment.user.profile.avatar %}
      <img src="/{{ comment.user.profile.avatar }}" height="20" width="20">
      {% endif %}
      {{comment.user.username}}
    </a> on <i>{{comment.creation_date}}</i>:

    {{comment.comment_text | markdown | safe}}
  </li>
  {% endfor%}
</ul>

<form action="{% url 'comment' project.id discussion.id %}" method="post">
  {% csrf_token %}
  Comment:<br/>
  <textarea name="comment_text" rows="8" cols="80"></textarea>
  <button type="submit">Send</button>
</form>
{% endblock %}
