body {
  font-size: 22px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.delete a {
  background: #eee;
}

.dark {
  background: #222;
  color: #dccbcb;
}

.dark a {
  color: #deccff;
  transition: color 0.3s;
}

.dark a:hover {
  color: #d1b8ff;
}

.top-menu {
  background: rgba(255, 107, 107, 0.1);
  height: 45px;
}

.top-menu .container {
  font-size: 23px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #3b00a8;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #5000e6;
}

.project-menu {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.news {
  margin-top: 10px;
}


form label > input[type=text], form label > textarea {
  display: block;
}

form label > input[type=radio] {
  margin-left: 10px;
}

.btn, button {
  background: rgba(230, 0, 0, 0.35);
  border-radius: 6px;
  font-size: 14px;
  padding: 7px 10px;
  border: none;
  text-align: center;
  display: inline-block;
  border: 1px solid rgba(204, 116, 0, 0.16);
  color: #000;
}

input, textarea {
  box-sizing: border-box;
  padding: 5px 12px;
  font-size: 15px;
  margin: 10px 0;
}

div > label > textarea {
  width: 100%;
}

.right-btn {
  float: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

.delete {
  color: rgba(230, 0, 0, 0.35);
}

h3 {
  margin: 10px 0;
  font-weight: 600;
}

.avatar {
  padding-bottom: 10px;
}

.tags {
  font-size: 20px;
  border: 1px solid #111;
  border-radius: 4px;
  padding: 3px 8px;
  font-weight: lighter;
}
