{% extends 'base.html' %}

{% block content %}
<div class="project-menu">
  <a href="{% url 'project' project.id %}">{{project.project_name}}</a>
  <div>
    {% if request.user.is_authenticated %}
      <a href="{% url 'discussion_list' project.id %}">Discussions</a>
    {% endif %}
    {% if request.user.is_staff or request.user.is_superuser %}
      <a href="{% url 'edit_project' project.id %}">Settings</a>
    {% endif %}
  </div>
</div>
{% block project_content %}
{% endblock %}

{% endblock %}
