{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<body {% if request.user.profile.style == 'dark' %} class="dark"{% endif %}>
<div class="container">
  <div class="top-menu">
    <div>
      <a href="/">News</a>
      <a href="/projects">Projects</a>
    </div>
    <div>
      {% if request.user.is_authenticated %}
        <a href="{% url 'profile' request.user.username %}">{{ request.user.username }}</a>
        <a href="/logout">Logout</a>
      {% else %}
        <a href="/login">Login</a>
      {% endif %}
    </div>
  </div>

  <div>
    {% block content %}
    {% endblock %}
  </div>
</div>
</body>
