{% extends 'base.html' %}

{% block content %}
<h2>Edir profile</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" accept="image/*" name="avatar">
  <br>
  <label><input type="radio" name="style" value="light" {% if user.profile.style == 'light' %}checked{% endif %}> Light</label>
  <br>
  <label><input type="radio" name="style" value="dark" {% if user.profile.style == 'dark' %}checked{% endif %}> Dark</label>
  <br>
  <button type="submit">Save</button>
</form>

{% endblock %}
