{% extends 'base.html' %}

{% block content %}

<h2>Profile</h2>
{% if user.profile.avatar %}
  <img src="/{{ user.profile.avatar }}" height="100" width="100">
{% endif %}

<p>{{ user.username }}</p>

{% if request.user == user %}
  <a href="{% url 'edit_profile' %}">Edit profile</a>
{% endif %}



{% if projects.all %}
<ul>
  {% for project in projects.all %}
  <li><a href="/projects/{{ project.id }}">{{ project.project_name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p> No projects. </p>
{% endif %}

{% endblock %}
