{% extends 'base_project.html' %}

{% block project_content %}

<form action="{% url 'wiki' project.id %}" method="post">
  {% csrf_token %}
  Wiki:<br/>
  <textarea name="wiki" rows="8" cols="80">{{project.wiki}}</textarea>
  <p><button type="submit">Update</button></p>
</form>

<h4>Developers</h4>

{% if project.developers.all %}
<ul>
  {% for developer in project.developers.all %}
  <li>
    <a href="{% url 'profile' developer.username %}">{{ developer.username }}</a>
    <a href="{% url 'delete_developer' project.id developer.id %}">x</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No developers assigned.</p>
{% endif%}

<form action="{% url 'add_developer' project.id %}" method="post">
  {% csrf_token %}
  <select name="developer_id">
    {% for developer in all_developers %}
    <option value="{{ developer.id }}">{{ developer.username }}</option>
    {% endfor %}
  </select>
  <button type="submit">Assign</button>
</form>

{% endblock %}
